*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.col-12{
    width: 100%;
    float: left;
}

.topo{
    background-image: url("../imagens/banner.png");
    background-repeat: repeat-x;
    z-index: -1;
    height: 140px;
    position: absolute;
}

.container-principal{
    width: 100%;
    max-width: 1000px;
    border: 1px solid black;
    height: 300px;
    margin: auto;
}

.banner{
    height: 140px;
    background-image: url("../imagens/bg_banner.jpg");
    background-repeat: no-repeat;
}

.logo img{
    width: 100%;
    max-width: 434px;
    height: auto;
    /*margin: auto;*/
    display: block;
    padding-top: 39px; /* (altura do banner - altura da imagem)/2 */
    margin-left: 7%; /*70px a distância que queremos dividido pela largura maxima do banner 998px */  
}