*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.topo{
    /*overflow: hidden;*/
    /*height: 8.5em;*/
    /*background-image: url("../imagens/bg_banner.jpg");*/
    /*background-image: url("../imagens/banner.png");
    background-repeat: repeat-x;
    background-position: left top; */
    background-color: rgb(10,100,10);
}
.logo{
    float: left;
    width: 100%;
    margin-top: 2em;
}
.logo img{
    max-width: 100%;
}
.wrapper{
    width: 80%;
    margin: auto;
    /*height: 6em;*/
    height: 6em;
    /*
    background-image: url("../imagens/bg_banner.jpg");
    background-repeat: no-repeat; */
}
.navbar{
    float: left;
    width: 60%;
    /*border: 1px solid black;*/
}
.navbar ul{
    overflow: hidden;
    height: 2em;
    margin-top: 2.5em;
    margin-left: 12em;
    font-size: 1.2em;
}
.navbar li{
    float: left;
}
.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
.navbar a:hover{
    background-color: #111;
}
.footer{
    padding: 20px;
    text-align: center;
    background: #ddd;
}
.col-3{
    float: left;
    width: 33.333333%;
}
.container{
    width: 80%;
    margin: auto;
    padding-top: 2em;
}
main{
    float: left;
    width: 70%;
}
.img-home{
    width: 100%;
}
.img-home img{
    max-width: 100%;
}
aside{
    float: left;
    width: 30%;
}
article{
    float: left;
    width: 50%;
}
.icons{
    background-repeat: no-repeat;
    background-position: center top;
    padding: 3.5em;
}
.ingredients{
    background-image: url("../imagens/ingredient-icon.png");
}
.tech{
    background-image: url("../imagens/tech-icon.png");
}