*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.topo{
    border: 1px solid black;
    /*overflow: hidden;*/
    height: 8.5em;
    /*background-image: url("../imagens/bg_banner.jpg");*/
    background-image: url("../imagens/banner.png");
    background-repeat: repeat-x;
    background-position: left top;
}
.logo{
    float: left;
    width: 40%;
    margin-top: 2em;
}
.wrapper{
    width: 80%;
    margin: auto;
    height: 8em;
    background-image: url("../imagens/bg_banner.jpg");
    background-repeat: no-repeat;
}
.navbar{
    float: left;
    width: 60%;
    /*border: 1px solid black;*/
}
.navbar ul{
    overflow: hidden;
    height: 2em;
    margin-top: 3em;
    margin-left: 12em;
}
.navbar li{
    float: left;
}
.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em 1.5em;
}
.navbar a:hover{
    background-color: #111;
}
.footer{
    padding: 20px;
    text-align: center;
    background: #ddd;
}
.col-3{
    float: left;
    width: 33.333333%;
}